<html>
  <head>
		<script type="text/javascript"
						src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
		</script>
	</head>
	<body data-channel="payments">
		<div id="map-canvas" style="width: 1280px; height: 1024px;"></div>
<script type="text/javascript" src="/js/payments.js"></script>
	</body>
</html>
